:root {

  --primary-1: #36393f;
  --primary-2: #2F3136;
  --primary-3: #1f2023;
  --danger-1: #e74c3c;
  --danger-2: #c0392b;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --gray-1: #f6f6f6;
  --gray-2: #ddd;
  --gray-3: #34495e;
  --text-color: #444;
  --text-primary-color: #ffffff;

  --border: 1px solid var(--gray-2);

  --font-family: 'Roboto', sans-serif;
}

//  reset

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  color: #f4f4f4;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: #f4f4f4;

}



img {
  max-width: 100%;
}



body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--primary-1);
  overflow: hidden;
}

input, textarea, select {
  border: var(--border);
  border-radius: 4px;
  padding: 8px 15px;
  color: #f4f4f4;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-3)
}

.form-error {
  color: var(--danger-1);
  font-size: 14px;
  font-weight: 500;
}

// flex

.d-flex {
  display: flex;
}

.flex-rox {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
   align-items: flex-start;
 }

.flex-fill {
  flex: 1 1 auto;
}

// padding

.p-10 {
padding: 10px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-30 {
  padding: 30px;
}

// util
// util

.w-100 {
  width: 100%;
}


//margin

.m-10 {
  margin: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.m-30 {
  margin: 30px;
}

// button

button {
  color: #f4f4f4;
}

.btn {
  padding: 8px 15px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-primary {
  background: var(--primary-1);
  color: var(--text-primary-color);
  &:hover {
    background: var(--primary-2);
  }
}

.btn-danger {
  background: var(--danger-1);
  color: var(--text-primary-color);
  &:hover {
    background: var(--danger-2);
  }
}

.btn-success {
  background: var(--success-1);
  color: var(--text-primary-color);
  &:hover {
    background: var(--success-2);
  }
}


// card

.card {
  border: var(--border);
  border-radius: 4px;
  background-color: #f4f4f4;
  padding: 30px;
}

.active {
  background-color: #3d4045;
}

// form singin, signup

h2 {
  font-size: 2rem;
}

.form-signup-container {
  color: #f4f4f4;
  margin-top: 4rem;
  width: 100%;

  .form-signup {
    label {
      color: #f4f4f4;
      font-size: 1rem;
    }

    input {
      height: 55px;
      width: 400px;
      min-width: 150px;
      border: none;
      outline: none;
      background-color: var(--primary-3);
      color: #f4f4f4;
    }

    p {
      font-size: 0.8rem;
    }

    a {
      color: #236cab;
      font-weight: bold;
      font-size: 0.8rem;
    }

    button {
      height: 55px;
      cursor: pointer;
      outline: none;
      border: none;
            background-color: #236cab;
      //padding: 10px;
      width: 100%;
      border-radius: 4px;
    }

    .validation-error {
      color: #d50707;
    }
  }
}

.label-file {
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
}
.label-file:hover {
  color: #25a5c4;
}

.input-file {
  display: none;
}

.calc {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

// tippy

.tippy-box[data-theme~="custom"] {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #f4f4f4;
  font-size: 0.9rem;
  padding: 5px 15px;
  background-color: #1f2023;
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #1f2023;
}
.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #1f2023;
}
.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #1f2023;
}
.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #1f2023;
}

// vue-scroller
.vue-recycle-scroller__item-view > div:first-child {

  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 0;

}

.direction-vertical {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px var(--primary-2);
    border: solid 3px transparent;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--primary-3);
    border: solid 3px transparent;
  }
}