@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Regular.otf');
}
@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Light.otf');
}
@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Bold.otf');
}

:root {

  --primary-1: #1e78ff;
  --primary-2: #1E90FF;
  --primary-3: #f4f4fb;
  --primary-4: #F6F6F6;
  --danger-1: #e74c3c;
  --danger-2: #D33E43;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --gray-2: rgba(221, 221, 221, 0.85);
  --gray-3: #34495e;
  --text-primary-color: #ffffff;
  --white: #fffbfe;
  --yellow: #EEC643;
  --text-color: #0E131F;
  --text-color-white: #F8F8FF;
  --primary-1-hover: --primary-1;
  --primary-2-hover: --primary-2;
  --icons-gradiant: --primary-2;
  --icons-gradiant-hover: --primary-2;

  --border: 1px solid var(--gray-2);

  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Satoshi', sans-serif;
}

//  reset

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  color: #F0F0F0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  color: #F0F0F0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: #F0F0F0;

}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-primary);
  background-color: var(--primary-4);
  overflow: hidden;
}

input, textarea, select {
  font-family: var(--font-family-primary);
  border: var(--border);
  border-radius: 4px;
  padding: 8px 15px;
  color: #F0F0F0;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-3)
}

.form-error {
  max-width: 250px;
  color: #E3170A;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

// flex

.d-flex {
  display: flex;
}

.flex-rox {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.flex-fill {
  flex: 1 1 auto;
}

// padding

.p-5 {
  padding: 5px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-15 {
  padding: 0 15px;
}

.p-30 {
  padding: 30px;
}

// util
// util

.w-100 {
  width: 100%;
}


//margin

.m-10 {
  margin: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-15 {
  margin-left: 15px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.m-30 {
  margin: 30px;
}

// overflow

.overflow-auto {
  overflow: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

// gap

.g-5 {
  gap: 5px;
}

.g-10 {
  gap: 10px;
}

.g-15 {
  gap: 15px;
}

.g-25 {
  gap: 25px;
}


// button

button {
  color: #f4f4f4;
}

.btn {
  padding: 8px 15px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-primary {
  background: var(--primary-2);
  color: var(--text-primary-color);

  &:hover {
    background: var(--primary-1);
  }
}

.btn-danger {
  background: var(--danger-1);
  color: var(--text-primary-color);

  &:hover {
    background: var(--danger-2);
  }
}

.btn-success {
  background: var(--success-1);
  color: var(--text-primary-color);

  &:hover {
    background: var(--success-2);
  }
}


// card

.card {
  border: var(--border);
  border-radius: 4px;
  background-color: #f4f4f4;
  padding: 30px;
}

.active {
  background-color: var(--primary-2) !important;
}

// form singin, signup

h2 {
  font-size: 2rem;
}



.label-file {
  cursor: pointer;
  font-weight: bold;
}

.input-file {
  display: none;
}

.calc {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

// tippy

.tippy-box[data-theme~="custom"] {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #f4f4f4;
  font-size: 0.9rem;
  padding: 5px 15px;
  background-color: #1f2023;
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #1f2023;
}

.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #1f2023;
}

.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #1f2023;
}

.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #1f2023;
}

// vue-scroller
.direction-vertical {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px var(--primary-1);
    border: solid 3px transparent;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--primary-3);
    border: solid 3px transparent;
  }
}

// tooltip

.tooltip {
  position: relative;

  .tooltip-text {
    visibility: hidden;
    background-color: var(--primary-2);
    color: var(--primary-4);
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--primary-2) transparent;
    }
  }

  &:hover {
    .tooltip-text {
      visibility: visible;
    }
  }
}


